{% extends "base.html" %}
{% block content %}
<h1>{{ data.page_title }}</h1>
<p>共計 {{ data.total_rows }} 筆記錄</p>
<table class="table table-sm">
    <tr><th>Site</th><th>Article</th><th>描述</th><th>新RP</th><th>新安全庫存</th><th>新ReOrder</th><th>新目標天數</th><th>新供應來源</th></tr>
    {% for r in data.rows %}
    <tr>
        <td>{{ r.site }}</td><td>{{ r.article }}</td><td class="truncate">{{ r.article_description }}</td>
        <td>{{ r.new_rp_type or '' }}</td><td>{{ r.new_safety_qty or 0 }}</td>
        <td>{{ r.new_reorder_point or '' }}</td><td>{{ r.new_target_coverage or '' }}</td>
        <td>{{ r.new_supply_source or '' }}</td>
    </tr>
    {% endfor %}
</table>
<a href="/final-result/export" class="btn">匯出CSV</a>
<a href="/" class="btn btn-secondary">返回</a>
{% endblock %}